<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select class="agregar_tipo" (change)="tipoOperacion($event)">
        <option value="ingresoOperacion" selected>+</option>
        <option value="egresoOperacion">-</option>
      </select>
      <input
        [ngClass]="{'redfocus': tipo === 'egresoOperacion'}"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="descripcion"
        [(ngModel)]="descripcionInput"
      />
      <input
        [ngClass]="{'redfocus': tipo === 'egresoOperacion'}"
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        name="valor"
        [(ngModel)]="valorInput"/>
      <button class="agregar_btn" type="submit" (click)="agregarValor()">
        <i [ngClass]="{'red': tipo === 'egresoOperacion'}" class="ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>
